@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin tv {
  @media (max-width: 1536px) {
    @content;
  }
}