<div class="footer">
    <div class="content layout">
        <div class="top">
            <div class="logo-details">
                <app-logo></app-logo>
            </div>
            <div class="media-icons">
                <a target="_blank" href="https://www.facebook.com/flavio.vissoto" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://twitter.com/VissotoFlavio" class="twitter"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/flaviovissoto" class="instagram"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/flavio-vissoto" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a target="_blank" href="https://www.youtube.com/@flaviovissoto" class="youtube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <!-- <div class="bottom">
            <div class="slogan">
                <p>Faça o teu melhor, na condição que você tem, enquanto você não tem condições melhores, para fazer
                    melhor ainda!</p>
                <span class="author">Mario Sergio Cortella</span>
            </div>
            <div class="links">
                <div class="column">
                    <h3 class="">Projetos</h3>
                    <a [routerLink]="'/'" class="">Projeto 1</a>
                    <a [routerLink]="'/'" class="">Projeto 2</a>
                    <a [routerLink]="'/'" class="">Projeto 3</a>
                    <a [routerLink]="'/'" class="">Projeto 4</a>
                </div>
                <div class="column">
                    <h3 class="">Serviços</h3>
                    <a [routerLink]="'/'" class="">Serviço 1</a>
                    <a [routerLink]="'/'" class="">Serviço 2</a>
                    <a [routerLink]="'/'" class="">Serviço 3</a>
                    <a [routerLink]="'/'" class="">Serviço 4</a>
                </div>
                <div class="column">
                    <h3 class="">Categorias</h3>
                    <a [routerLink]="'/'" class="">Categoria 1</a>
                    <a [routerLink]="'/'" class="">Categoria 2</a>
                    <a [routerLink]="'/'" class="">Categoria 3</a>
                    <a [routerLink]="'/'" class="">Categoria 4</a>
                </div>
            </div>
        </div> -->
    </div>
</div>