@import './../../../assets/scss/main.scss';

.header {
  position: fixed;
  width: 100%;
  background-color: color(gray-700);
  height: $height-header;
  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    .brand {
      display: flex;
      justify-content: center;
      align-items: center;

      .nav_toggle {
        display: none;
        i {
          @include prefix(transition, color 0.2s);
          color: color(white);
          @include font-size-3xl;

          &:hover {
            cursor: pointer;
            color: color(gray-300);
          }
        }
      }
    }

    @include tablet {
      .brand {
        .logo {
          display: none;
        }
        .nav_toggle {
          display: block;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: end;
      align-items: center;

      .nav_itens {
        display: flex;
        flex-direction: row;

        .nav_item {
          margin: 0.1rem;

          a {
            padding: 0.5rem;
            display: block;
            white-space: nowrap;
            color: color(white);

            &:hover {
              color: color(gray-300);
            }

            @include mobile {
              padding: 0.3rem;
            }
          }
        }
      }
    }
  }
}
