<div class="header">
    <div class="content layout">
        <div class="brand">
            <div class="nav_toggle">
                <div class="hamburger">
                    <input type="checkbox" id="hamburger-chk" class="hamburger-chk" (change)="toggleMenu()">
                    <label for="hamburger-chk">
                        <div class="icon">
                            <span class="bar-top"></span>
                            <span class="bar-mid"></span>
                            <span class="bar-bot"></span>
                        </div>
                    </label>
                </div>
            </div>
            <app-logo></app-logo>
        </div>
        <nav class="nav">
            <ul class="nav_itens">
                <li class="nav_item"><a href="#">Página Inicial</a></li>
                <li class="nav_item"><a href="#">Sobre</a></li>
                <li class="nav_item"><a href="#">Serviços</a></li>
                <li class="nav_item"><a href="#">Contatos</a></li>
            </ul>
        </nav>
    </div>
</div>