<div class="header">
    <div class="content layout">
        <div class="brand">
            <div class="nav_toggle">
                <i class="fa-solid fa-bars" (click)="toggleMenu(undefined)"></i>
            </div>
            <app-logo class="logo" (click)="toggleMenu(false)"></app-logo>
        </div>
        <nav class="nav">
            <ul class="nav_itens">
                <li class="nav_item"><a (click)="toggleMenu(false)" [routerLink]="'/'">Página Inicial</a></li>
                <!-- <li class="nav_item"><a (click)="toggleMenu(false)" href="#">Sobre</a></li>
                <li class="nav_item"><a (click)="toggleMenu(false)" href="#">Serviços</a></li>
                <li class="nav_item"><a (click)="toggleMenu(false)" href="#">Contatos</a></li> -->
            </ul>
        </nav>
    </div>
</div>