<div class="header">
    <div class="header_wrapper">
        <a [routerLink]="'/'" class="brand" title="vissoto.dev.br">
            <img src="./../../../assets/svg/logo.svg" alt="Logo">
            <span>VissotoDevBr</span>
        </a>
        <nav class="nav">
            <button class="nav_toggle" aria-expanded="false" type="button">menu</button>
            <ul class="nav_wrapper">
                <li class="nav_item"><a href="#">Página Inicial</a></li>
                <li class="nav_item"><a href="#">Sobre</a></li>
                <li class="nav_item"><a href="#">Serviços</a></li>
                <li class="nav_item"><a href="#">Contatos</a></li>
            </ul>
        </nav>
    </div>
</div>