<div class="container">
    <div class="home">
        <div class="logo">
            <!-- <i class="fa-light fa-solar-system fa-spin" style="--fa-animation-duration: 30s;"></i> -->
            <i class="fa-light fa-solar-system"></i>
        </div>
        <div class="welcome">
            <h1 class="text-center">Seja bem vindo(a)!</h1>
            <p class="text-center">
                Esse site foi criado para apoiar desenvolvedores nas plataformas
                <a href="https://nodejs.org/en/" target="_blank" title="https://nodejs.org/en/">NodeJs</a>,
                <a href="https://angular.io/" title="https://angular.io/" target="_blank">Angular</a>,
                <a href="https://dotnet.microsoft.com/en-us/" title="https://dotnet.microsoft.com/en-us/"
                    target="_blank">C# .Net</a>,
                <a href="https://www.w3schools.com/html/" title="https://www.w3schools.com/html/" target="_blank">HTML
                </a>,
                <a href="https://www.w3schools.com/css/default.asp" title="https://www.w3schools.com/css/default.asp"
                    target="_blank">CSS</a>,
                <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"
                    title="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" target="_blank">
                    JavaScript
                </a>
                e
                <a href="https://www.typescriptlang.org/" title="https://www.typescriptlang.org/"
                    target="_blank">TypeScript
                </a>.
            </p>
        </div>
    </div>
</div>