@import './../../../assets/scss/main.scss';

:host {
  --color-one: #eee;
  --color-two: #374151;
  --bg-size: 400%;
}

.container {
  display: flex;
  flex-direction: column;

  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    .logo {
      i {
        font-size: 200px;
        // color: (black);
        padding: 15px;

        background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
        color: transparent;
        background-clip: text;
        //-webkit-text-fill-color: transparent;
        //animation: gradient 15s ease infinite;
      }
    }

    .welcome {
      text-align: center;

      h1 {
        font-size: 32px;
        padding-bottom: 10px;
      }

      p {
        font-size: 16px;
        a {
          &[href] {
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: underline;
          }

          &:hover {
            color: color(blue-700);
          }
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .container {
    .home {
      .logo {
        i {
          animation: move-bg 8s linear infinite;
        }
      }
    }
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
