<div class="flex flex-col">
    <!-- TOPO -->
    <div class="flex flex-col sm:flex-row items-center p-4">
        <div class="bg-logo h-52 w-60"></div>
        <div class="flex flex-col sm:w-2/3 justify-center space-y-4">
            <p class="text-center">Seja bem vindo</p>
            <p class="text-center">
                O intuito desse site é auxiliar no desenvolvimento de sistemas utilizando
                <a href="https://dotnet.microsoft.com/en-us/" class="font-semibold cursor-pointer hover:underline"
                    target="_blank">.Net</a>,
                <a href="https://nodejs.org/en/" class="font-semibold cursor-pointer hover:underline">Node</a>
                e
                <a href="https://angular.io/" class="font-semibold cursor-pointer hover:underline">Angular</a>.
            </p>
        </div>
    </div>

</div>