<input type="checkbox" id="overlay" [checked]="showMenu">
<label class="overlay show" (click)="toggleMenu(undefined)"></label>
<div class="container">
    <nav>
        <app-header (byToggleMenu)="toggleMenu($event)"></app-header>
    </nav>
    <main>
        <div class="wrapper layout">
            <div class="sidebar">
                <app-sidebar (byToggleMenu)="toggleMenu($event)"></app-sidebar>
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>