@import './../assets/scss/colors.scss';
@import './../assets/scss/media-query.scss';

$width-menu: 180px;

.container {
  display: grid;
  grid-template-areas:
    'navbar'
    'content'
    'footer';
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0;

  .content {
    grid-area: content;

    display: grid;
    grid-template-columns: $width-menu 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'sidebar main main';
    width: 100%;

    .sidebar {
      grid-area: sidebar;
    }

    .main {
      grid-column: main;
    }

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-areas: 'main';

      .sidebar {
        display: none;

        &.show {
          display: block;
          position: fixed;
        }
      }
    }
  }

  .navbar {
    background: #a7ffeb;
    grid-area: navbar;
  }

  .footer {
    background: #1de9b6;
    grid-column: footer;
  }
}
