@import './../assets/scss/colors.scss';
@import './../assets/scss/media-query.scss';
@import './../assets/scss/variables.scss';

.container {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  grid-template-rows: $height-header 1fr auto;
  grid-template-columns: $width-menu 1fr;
  height: 100vh;

  .header-area {
    grid-area: header;
  }

  .main-area {
    grid-area: main;
    .wrapper {
      display: grid;
      grid-template-columns: $width-menu 1fr;
      grid-template-rows: auto;
      grid-template-areas: 'sidebar content';

      .sidebar {
        grid-area: sidebar;
      }

      .content {
        grid-area: content;
        padding-top: 1rem;
      }

      @include tablet {
        grid-template-columns: 1fr;
        grid-template-areas: 'content';
      }
    }
  }

  .footer-area {
    grid-area: footer;
  }

  @include tablet {
    grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  }
}
