@import './../../../assets/scss/main.scss';

.nav-sidebar {
  overflow-y: auto;
  @include min-height-content;

  .brand {
    display: none;
    @include tablet {
      display: flex;
    }
    justify-content: center;
    align-items: center;
    height: $height-header * 2;
    background-color: color(blue-900);
  }

  .nav-list {
    .nav-item {
      .nav-link {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;
        @include prefix(transition, color 125ms);

        i {
          @include prefix(transition, transform 125ms);
          @include font-size-md;
        }

        &:hover {
          color: color(blue-600);
          i {
            color: color(blue-600);
          }
        }
      }

      .nav-sublist {
        max-height: 0;
        overflow: hidden;
        @include prefix(transition, max-height 125ms);

        .nav-link {
          height: auto;
          padding-left: 2rem;
          @include font-size-xs;
        }
      }

      .nav-sublist-control {
        display: none;
        &:checked {
          & ~ .nav-sublist {
            max-height: 300px;
          }
          & ~ .nav-link {
            i {
              transform: rotate(90deg);
            }
          }
        }
      }

      @include tablet {
        border-bottom: 0.05rem solid color(gray-800, 0.07);
      }
    }
  }
}
