<div class="nav-sidebar">
    <div class="brand">
        <app-logo (click)="toggleMenu()"></app-logo>
    </div>
    <ul class="nav-list">
        <li class="nav-item" *ngFor="let item of sidebar">
            <div *ngIf="item.href; else elseBlock">
                <a [routerLink]="item.href" (click)="toggleMenu()" class="nav-link">{{item.title}}</a>
            </div>
            <ng-template #elseBlock>
                <input type="checkbox" class="nav-sublist-control" id="nav-sublist-{{item.title}}">
                <label class="nav-link" for="nav-sublist-{{item.title}}">{{item.title}}<i
                        class="fa-solid fa-chevron-right"></i></label>
                <ul class="nav-sublist">
                    <li *ngFor="let subitem of item.items">
                        <a [routerLink]="subitem.href" (click)="toggleMenu()" class="nav-link">{{subitem.text}}</a>
                    </li>
                </ul>
            </ng-template>
        </li>
    </ul>
</div>