@import './../../../assets/scss/main.scss';

.logo {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;

  a,
  span,
  i {
    color: color(white);
  }
  
  i {
    font-size: 30px;
  }
  
  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 2.2;
  }

  i,
  span {
    @include prefix(transition, color 0.2s);
  }

  & > :not([hidden]) ~ :not([hidden]) {
    margin: 0 0.2rem;
  }

  &:hover {
    i,
    span {
      color: color(gray-300);
    }
  }
}
