@import './../../../assets/scss/main.scss';

.color-module {
  .page-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
  }
  .colors {
    .item {
      .title {
        margin-top: 15px;
        text-transform: capitalize;
        width: 100%;
        padding-bottom: 2px;
        font-weight: 900;
      }

      .boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-around;

        .box {
          @include tablet {
            width: 18%;
          }
          display: flex;
          align-items: center;
          flex-direction: column;
          
          .color {
            @include tablet {
              height: 65px;
            }
            position: relative;
            height: 50px;
            width: 65px;
            border: 1px solid color(gray-400);
            background: var(--color);

            .weight {
              position: absolute;
              background-color: color(white);
              bottom: 0;
              left: 50%;
              transform: translate(-50%, -25%);
              width: 75%;
              text-align: center;
              border-radius: 10px;
              @include font-size-xs;
              font-weight: 600;
            }
          }

          .name {
            padding-top: 2px;
            font-size: 12px;
            text-transform: uppercase;
            margin: 0 auto;
            text-align: center;
            font-weight: 600;
            color: color(gray-600);
          }
        }
      }
    }
  }
}
