<div class="color-module">
    <div class="layout">
        <h1 class="page-title">Paleta de Cores</h1>

        <div class="colors">
            <div class="item" *ngFor="let item of solidColors">
                <p class="title">{{item.name}}</p>
                <div class="boxes">
                    <div class="box" *ngFor="let tones of item.tones">
                        <div class="color" bindCss [variableName]="'color'" [variableValue]="tones.hexadecimal"><p class="weight">{{tones.weight}}</p></div>
                        <p class="name">{{tones.hexadecimal}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>