@import './../../../assets/scss/main.scss';

.color-module {
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
  }
  .colors {
    .item {
      .color {
        position: relative;
        height: 100px;
        width: 250px;
        border: 1px solid color(gray-400);
        background: rgb(16, 60, 231);
        background: linear-gradient(90deg, rgba(16, 60, 231, 1) 0%, rgba(100, 233, 255, 1) 100%);
        border-radius: 10px;

        .name {
          position: absolute;
          margin: 0 auto;
          text-align: center;
          //   background-color: color(white);
          width: 75%;
          transform: translate(-50%, -50%);
          left: 50%;
          border-radius: 10px;
          bottom: 0;
          padding: 2px 0;
          font-weight: 700;
          color: color(white);
        }
      }
    }
  }
}
